* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Navbar Styles */
.navbar {
    background: #000;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    display: block;
    font-size: 1rem;
}

.navbar ul li a:hover {
    background:  #009e8a;
    /* transition: background 0.3s ease; */
}

/* Dropdown Styles */
.navbar ul li ul.dropdown {
    display: none;
    position: absolute;
    background: #444;
    min-width: 180px;
    z-index: 999;
}

.navbar ul li:hover ul.dropdown {
    display: block;
}

.navbar ul li ul.dropdown li {
    width: 100%;
}

.navbar ul li ul.dropdown li a {
    padding: 10px;
}



.text-overlay {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    width: 80%;
}



