* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('./back\ image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    transition: opacity 0.5s ease-in-out;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

input:hover {
    background-color: #f8d7da;
}

button {
    width: 100%;
    padding: 10px;
    background: royalblue;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0033cc;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

p {
    color: white;
    font-size: 14px;
}